
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */